<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro funcionários</title>
</head>
<body>

    <form method="post">
        {% csrf_token %}

        {{ form.as_p }}
         <a href="{% url 'url_detectar'%}">Detectar</a><br>
        <a href="{% url 'url_capturar'%}">Capturar</a> <br>

        <button type="submit">Salvar</button>

        {% if funcionario %}
        <a href="{%url 'url_delete' funcionario.id%}">Deletar</a>
        {% endif%}

    </form>

</body>
</html>