{% extends 'aplicacao/base_seg.html' %}

{% load crispy_forms_tags %}

{% block content %}

      <center>
        <video id="vidDisplay" autoplay="true">
            No video
        </video>

    <form method="GET">
         {% csrf_token %}
         {{ form|crispy}}
        <input type="text" class="form-group col-md-2" name="buscar" placeholder="Insira o CPF  ">
        <input type="submit" class="btn btn-success" value="Buscar">
    </form>
    <ul>
        {% for funcionario in funcionarios %}

        <ul class="list-group">
            <li class="list-group-item"><a href="{% url 'url_visualizar' funcionario.id %}"> {{ funcionario.nome }} </a> </li>
        </ul>
        {% endfor %}
    </ul>
<script >
    navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia
    navigator.msGetUserMedia || navigator.oGetUserMedia;

    if(navigator.getUserMedia){
        navigator.getUserMedia({video: true}, handleVideo, videoError);
     }

     function handleVideo(stream){
        document.querySelector('#vidDisplay').src = window.URL.createObjectURL(stream);
        }

    function videoError(e){
        alert("Nao deu");
    }
</script>

{% endblock %}