<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Página de busca do reconhecedor</title>
</head>
<body>

<h1>Página de reconhecimento do funcionário</h1>

<h1>Pesquisar Funcionario</h1>
<form method="GET">
    Pesquisar:<input type="text" name="buscar" placeholder="Pesquisar pelo CPF...">
    <button type="submit">Buscar</button>
</form>

<h2>Preenchendo os campos</h2>

<!--<p>Fazer um campo de busca do funcionario pelo cpf do funcionario</p>
<p>Criar um label para preencher os campos com os valores do funcionario</p>
<p>Criar um frame do reconhecimento do funcionario</p> -->


</body>
</html>