<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<div class="sidenav">
         <div class="login-main-text">
            <h2>Controle de Acesso</h2>
         </div>
      </div>

       {% if form.erros %}
    <p> Há algo errado com os dados inseridos</p>
    {% endif%}

    {% if next %}
    <p>Vc não tem acesso a essa pagina</p>
    {% endif %}

      <div class="main">

         <div class="col-md-6 col-sm-12">
            <div class="login-form">


       <form method="post" action="{% url 'login' %}">
           <div class="form-group">

        {% csrf_token %}
        <div class="form-group">
                     <label>Usuário</label>
                    <p>{{ form.username }}</p>
        </div>

         <div class="form-group">
                     <label>Senha</label>
                         <p>{{ form.password }}</p>
         </div>

        <button type="submit" value="login" class="btn btn-black">Login</button>
        <input type="hidden" name="next" value="{{ next }}">

        </div>
               </form>
            </div>
         </div>
      </div>

</body>
</html>